{
    "presets": [
        ["@babel/preset-env",{
            // 使用的api会自动转化，并且按需加载
            "useBuiltIns":"usage",
            // babel-polyfill
            "corejs":2
        }],
        "@babel/preset-react",
        ["@babel/preset-typescript",{
            "allExtensions":false // 如果是react + ts 不需要allExtensions 或 allExtensions:false
            // 如果是vue + ts 需要 allExtensions:true 因为 .vue file should be parsed as TS or TSX
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators",{"legacy":true}],
        ["@babel/plugin-proposal-class-properties",{"loose":true}],
        "@babel/plugin-transform-runtime"
    ]
}

/* presets 从下往上执行，plugins 相反 */